@mixin transition($what: all, $time:30s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}
//@include transition (all, 0.5s, ease);

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
//@include border-radius(5px);

.padt10 {padding-top:10px !important;}
.padt20 {padding-top:20px !important;}
.padt30 {padding-top:30px !important;}
.mart30 {margin-top:30px !important;}
.marb0 {margin-bottom:0px !important;}
.padb0 {padding-bottom:0px !important;}
.marb20 {margin-bottom:20px !important}
.padr10 {padding-right:10px !important;}
.padl10 {padding-left:10px !important;}


@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}