.calendar-wrappper {
    background: #F3F5F2;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba($color: $secondary-color, $alpha: 0.25);
    border-radius: 4px;
    padding: 10px;

    .year-calender-nav {
        display: flex;
        flex-direction: row;

        .year-title {
            margin: 0 10px;
            font-size: 22px;
            color: $secondary-color;
            line-height: 28px;
        }

        a {
            cursor: pointer;
            margin: 0 5px 5px;

            svg {
                path {

                    fill: $secondary-color;
                }
            }
        }

    }

    .vc-year-calendar {
        background: transparent;
        border: none;

        .vc-arrows-container {
            display: none;
        }

        .vc-pane {
            background: #FFFFFF;
            box-shadow: 4px 4px 8px rgba($color: $secondary-color, $alpha: 0.25);
            border-radius: 4px;
            margin: 8px;

            .vc-header {
                border-bottom: rgba($color: $secondary-color, $alpha: 0.2) solid 1px;

                .vc-title {
                    padding: 5px 5px 15px;
                    font-size: 16px;
                    color: $secondary-color;
                    font-weight: 400 !important;
                }
            }

            .vc-weeks {
                padding: 15px 5px;

                .vc-weekday {
                    font-weight: 500;
                    color: #8689D0;
                    padding-bottom: 15px;
                }

                .vc-day {
                    color: #49494A;
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .vc-day-box-center-bottom {

                align-items: flex-start;
            }
        }

        .vc-popover-content-wrapper {
            .vc-popover-content {
                background: #F6F6F6;
                padding: 24px;
                margin-top: 0;
                border: 0.6px solid #8689D0;
                box-shadow: 0px 2px 2px rgba(196, 196, 196, 0.25);
                border-radius: 4px;

                .day-title {
                    font-size: 16px;
                    color: #58508D;
                }

                .day-number {
                    color: #000;
                    font-size: 24px;
                }


            }

            .vc-popover-caret {
                display: none;
            }
        }
    }

    .events {
        border-left: 1px solid #8689D0;
        font-size: 14px;
        color: #000;
        line-height: 18px;

        ul {
            margin: 0;
            padding: 0;

            li {
                padding: 2px 0;
                font-weight: 400;

                i {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    margin-right: 10px;
                    margin-left: 10px;
                    border-radius: 50%;
                    background: rgba(255, 167, 38, 0.3);

                    &.heigh {
                        background: #D90E0E;
                    }

                    &.medium {
                        background: #FFA726;

                    }

                    &.low {
                        background: rgba(255, 167, 38, 0.3);

                    }
                }
            }
        }
    }

}

.custom-date-picker {
    border: none !important;

    .vc-pane-container {
        background: #F3F5F2;
        box-shadow: 4px 4px 8px rgba(55, 84, 170, 0.2);
        border-radius: 4px;



        .vc-arrows-container {
            display: none;
        }

        .vc-header {
            border-bottom: rgba($color: $secondary-color, $alpha: 0.2) solid 1px;

            .vc-title {
                padding: 5px 5px 15px;
                font-size: 22px;
                color: $secondary-color;
                font-weight: 400 !important;
            }

        }

        .vc-weeks {
            padding: 15px 5px;

            .vc-weekday {
                font-weight: 500;
                color: #8689D0;
                padding-bottom: 15px;
            }

            .vc-day {
                color: #49494A;
                font-weight: 400;
                font-size: 14px;
                padding: 5px;
            }
        }

        .vc-day-content {
            width: 35px;
            height: 35px;
            font-weight: 400 !important;
        }

        .vc-highlights {
            .vc-highlight {
                background: #58508D !important;
                box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25);
            }
        }

        .vc-day-box-center-bottom {

            align-items: flex-start;
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        &.modal-650 {
            max-width: 650px;
        }
    }
}

.modal-close {
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 0 0 0 auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('./assets/images/close-icon.svg') no-repeat left center;

    &:hover {
        opacity: 0.8;
    }
}

.badge-title {
    background: rgba(88, 80, 141, 0.08);
    border: 1px solid #58508D;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #58508D;
    display: inline-block;
    padding: 8px 15px;
}

.reminder-modal {
    background: #F3F5F2;
    color: #000;

    .modal-header {
        border: none;
    }

    .modal-container {
        padding: 0 30px 20px;
        position: relative;
        min-height: 190px;

        &::before {
            content: '';
            height: 190px;
            left: 0;
            position: absolute;
            top: 0;
            border-left: 4px solid #FD5285;
        }
    }

    a {
        color: #2A85D0;

        &:hover {

            color: #2A85D0;
        }
    }

    h5 {
        font-size: 1rem;
        font-weight: 500;
    }

    .form-control {
        font-size: 0.875rem;
    }

    .custom-checkbox {
        .custom-control-label {
            margin: 0;
            font-size: 1rem;
            color: #000;
            font-weight: 400;
            padding: 0 0 0 5px
        }
    }

    table {
        td {
            padding: 5px 0;
            font-size: 0.875rem;
            vertical-align: top;
        }
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.modal-footer-button {
    button {
        color: #2A85D0;
        font-weight: 500;
        margin-left: 10px;
    }
}

.custom-radio-group {
    .btn {
        margin: 0 15px !important;
        border-radius: 20px !important;
        padding: 5px 5px;
        min-width: 80px;
        text-transform: uppercase;
        color: #58508D;
        background: #D3D2E1;
        border: 1px solid #58508D;

        &.active,
        &:hover {
            color: #fff !important;
            background: #58508D !important;

        }

        &:first-child {
            margin-left: 0 !important;
        }
    }
}

.reminder-accordion {
    .card {
        border: none;
        background: transparent;
    }

    h4 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #58508D;
        padding: 10px 0;
        border-bottom: 0.5px solid #C4C4C4;
        &.not-collapsed{
            img {
                
  transform: rotateZ(180deg);
            }
        }
    }

    .accordion-body {
        border-bottom: 0.5px solid #C4C4C4;

    }
}

.team-members-details {
    font-size: 0.875rem;
    color: #757575;
}

.team-members-list {
    margin:10px 0 25px;
    border: 0.5px solid #D3D2E1;
    border-radius: 4px;
    background: #fff;
    ul {
        margin: 0; 

        li {
            padding: 10px 15px; 
            cursor: pointer;
            display: flex;
            width: 100%;
            border-top: 0.5px solid #D3D2E1;
            &:first-child{
                border-top: none;
            }
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}

.autoSuggest-wrap {

    input {
        width: 230px;
        padding: 5px 5px 5px 35px;
        border-radius: 4px;
        border: 0.5px solid #BDBDBD !important;

        background: url('./assets/images/search-icon.svg') no-repeat 10px center #fff;
    }

    .autosuggest-container {
        display: flex;
        justify-content: center;
        width: 280px;
        position: relative;
    }

    .autosuggest__results-container {
        position: absolute;
        z-index: 1000;

        ul {
            margin: 0;

            li {
                padding: 5px 0;
                background: url('./assets/images/add-icon.svg') no-repeat right center;
                cursor: pointer;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
        }

        .autosuggest__results {
            width: 420px;
            border: 0.5px solid #BDBDBD;
            padding: 10px;
            background: #fff;
            border-radius: 4px;

        }
    }

    #autosuggest {
        width: 100%;
        display: block;
    }

    .autosuggest__results-item--highlighted {
        background-color: rgba(51, 217, 178, 0.2);
    }
}