* {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body {
    background: #E5E5E5;
    font-family: $primaryFont; padding-top:56px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background: #F3F5F2;
    box-shadow: 0px 4px 4px rgba(35, 47, 52, 0.2);
    padding: 0 24px;
    z-index: 9;
    position:fixed; left:0px; width:100%; top:0px;

    .header-search {
        width: 320px;
        background: #F6F6F6;
        padding: 0 15px;
        display: flex;
        align-items: center;
        box-shadow: inset -4px -4px 8px #FFFFFF, inset 4px 4px 8px rgba(55, 84, 170, 0.1);
        border-radius: 10px;
        height: 36px;

        input {
            background: none;
            border: 0px;
            box-shadow: none;
            outline: none !important;
            width: 100%;
            padding-left: 9px;
            font-family: $primaryFont;
            font-weight: 400;
            color: #B0B0B0;

            &::placeholder {
                font-family: $primaryFont;
                font-weight: 400;
                color: #B0B0B0;
            }
        }
    }

    .header-actions {
        ul {
            display: flex;
            align-items: center;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                margin-left: 22px;
                cursor: pointer;

                a {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #F3F5F2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.1);
                }

                span {
                    font-family: $primaryFont;
                    color: $secondary-color;
                    font-weight: 400;
                    padding-left: 8px;
                    letter-spacing: 0.7px;
                }

                &:nth-child(1) {
                    margin-left: 0px;
                }
                &.profile {
                    &.active a {background: #D3D2E1; box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.08), inset 4px 4px 8px rgba(55, 84, 170, 0.1);}
                }
            }
        }
    }

}

.body-section {
    display: flex;
    background: #f6f6f6;

    .body-content {
        width: calc(100% - 92px);
        padding: 15px 17px;
    }
}

.side-menu {
    width: 92px;
    background: #8689D0;
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    position: relative;
    position: sticky;
    top: 56px;

    &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0px;
        background: #8689D0;
        width: 100%;
        height: 60px;
    }

    ul {
        padding: 0px 0 90px 0;
        margin: 0px;

        li {
            a {
                width: 92px;
                height: 92px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #F3F5F2;
                font-size: 12px;
                font-family: $primaryFont;
                font-weight: 500;
                letter-spacing: 0.8px;

                svg {
                    margin-bottom: 6px;
                    display: block;

                }

                &:hover {
                    text-decoration: none;
                    background: #F6F6F6;
                    box-shadow: inset 4px 4px 8px rgba(55, 84, 170, 0.2), inset -4px -4px 8px #FFFFFF;
                    color: #58508D;

                    svg {
                        margin-bottom: 6px;
                        display: block;

                    }
                }
            }

            &.dashboard a:hover svg {
                path {
                    fill: #58508D !important;
                }
            }

            &.schedule a:hover svg {
                path {
                    fill: #58508D !important;
                }
            }

            &.document a:hover svg {

                line,
                path {
                    stroke: #58508D !important;
                }
            }

            &.task a:hover svg {

                line,
                path {
                    stroke: #58508D !important;
                }
            }

            &.member a:hover svg path {
                fill: #58508D !important;
            }
        }
    }

    .logout {
        position: absolute;
        color: #F3F5F2;
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 500;
        letter-spacing: 0.8px;
        bottom: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 92px;
        height: 92px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            background: #F6F6F6;
            box-shadow: inset 4px 4px 8px rgba(55, 84, 170, 0.2), inset -4px -4px 8px #FFFFFF;
            color: #58508D;

            svg path {
                &:nth-child(1) {
                    stroke: #58508D !important;
                }

                &:nth-child(2) {
                    fill: #58508D !important;
                }

                &:nth-child(3) {
                    fill: #58508D !important;
                }
            }
        }
    }
}

.wrapper {
    width: 100%;
}

.page-header {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between; margin-bottom:20px;

    .page-title {
        font-size: 22px;
        color: $secondary-color;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 26px;
    }

    .page-sub-title {
        font-size: 22px;
        color: $secondary-color;
        font-family: $primaryFont;
        font-weight: 300;

        border-left: 2px solid $secondary-color;
        margin-left: 20px;
        padding-left: 20px;
        line-height: 26px;
    }

    .page-header-actions {
        ul {
            display: flex;
            padding: 0px;
            margin: 0px;

            li {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F3F5F2;
                box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.18);
                cursor: pointer;
                margin-left: 24px;

                svg {
                    path {
                        fill: $secondary-color;
                    }
                }

                &.active {
                    background: $secondary-color;
                    box-shadow: none;

                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}

.table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;

    a {
        font-size: 14px;
        color: $primary-color !important;
        font-weight: normal;
        cursor: pointer;
        font-family: $primaryFont;
        font-weight: 400;
        letter-spacing: 0.8px;

        img {
            margin-right: 8px;
        }

        &:hover {
            color: $secondary-color !important;

            svg path {
                fill: $secondary-color
            }
        }
    }

    label {
        font-size: 14px;
        color: $primary-color !important;
        font-family: $primaryFont;
        font-weight: 400;
        letter-spacing: 0.8px;
        margin: 0px 0 0 20px;
        padding: 0 0 0 20px;
        border-left: 1px solid #D5D5DE;
        line-height: 30px;

    }

    .table-actions-right {
        display: flex;
        justify-content: flex-end;

        a {
            margin-left: 40px;
            display: flex;
            align-items: center;

            svg {
                margin-right: 8px;
            }
        }
    }
}

.members_view {
    display: none;

    &.active {
        display: block;
    }
}

// .members_view {opacity:0; visibility: hidden;  height:0px; transition: all 0.3s ease-in-out; overflow: hidden;
//     &.active {display:block; opacity:1; visibility: visible; height: auto; }
// }
.list-table {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 15px;

        thead {
            tr {
                th {
                    font-size: 14px;
                    color: $primary-color;
                    font-weight: 500;
                    line-height: 16px;
                    padding-left: 15px;
                    font-family: $primaryFont;
                    letter-spacing: 0.8px;

                    span {
                        &.ascending {
                            background: url('./assets/images/ascending.png') no-repeat right 5px;
                            cursor: pointer;
                            padding-right: 20px;
                        }

                        &.descending {
                            background: url('./assets/images/descending.png') no-repeat right 5px;
                            cursor: pointer;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                background: #F3F5F2;
                box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.2);

                td {
                    font-size: 16px;
                    color: $black;
                    font-weight: 400;
                    line-height: 22px;
                    height: 73px;
                    align-items: center;
                    padding-left: 15px;
                    font-family: $primaryFont;

                    figure {
                        display: flex;
                        align-items: center;
                        margin: 0px;

                        img {
                            margin-right: 12px;
                        }
                    }

                    .td-title {
                        display: flex;
                        align-items: center;
                        .custom-checkbox {
                            padding-left: 0px !important;
                        }
                        a { font-size: 16px; font-weight:400; color:$black; font-family:$primaryFont; }
                    }

                    .td-tasks {
                        display: flex;
                        margin: 0px;
                        padding: 0px;

                        li {
                            text-align: right;
                            padding-right: 20px;

                            span {
                                color: $primary-color;
                                display: block;
                                font-size: 10px;
                                line-height: 16px;
                                text-transform: uppercase;
                                margin-bottom: 6px;
                                font-family: $primaryFont;
                                font-weight: 400;
                            }

                            label {
                                color: rgba(42, 133, 208, 0.7);
                                font-weight: 400;
                                display: block;
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 0px;
                                font-family: $primaryFont;
                                font-weight: 400;
                            }

                            &:nth-last-child(1) {
                                padding-right: 0px;
                            }
                        }
                    }

                    .td-actions {
                        display: flex;
                        margin: 0px;
                        padding: 0px;

                        li {
                            margin-right: 15px;
                            cursor: pointer;
                            outline:none !important;
                            &:nth-last-child(1) {
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }

        .custom-checkbox {
            .custom-control-input {
                width: 21px;
                height: 21px;
            }

            .custom-control-label {
                padding-left: 21px;

                &:after {
                    width: 21px;
                    height: 21px;
                }

                &:before {
                    width: 21px;
                    height: 21px;
                    background-color: transparent;
                }
            }
        }
    }

    &.checkbox-table {
        table {
            thead {
                tr {
                    th {
                        &:nth-child(1) {
                            padding-left: 44px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        &:nth-child(1) {
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
    }
}


.custom-checkbox {
    padding-left: 0;

    .custom-control-label {
        font-weight: 500;
        color: $primary-color;
        font-size: 12px;
        padding-left: 25px;
        cursor: pointer;
        position: static;
        margin-right: 15px;
        font-family:$primaryFont; font-size:16px; color:$black; font-weight:400; white-space: nowrap;
        span {
            font-weight: 500;
            color: $primary-color;
            font-size: 12px;
            padding-left: 27px;
        }

        &:after {
            width: 20px;
            height: 20px;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 4px !important;
            box-shadow: none !important;
            outline: none !important;
        }

        &:before {
            width: 20px;
            height: 20px;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 4px !important;
            box-shadow: none !important;
            outline: none !important;
        }
    }

    .custom-control-input:checked~.custom-control-label::after {
        /*background:url('../../images/tickmark.png') no-repeat center !important;*/
        background-color: $primary-color !important;
        background-size: 14px !important;
    }
}

.grid-section {
    .grid-cnt {
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
        flex-wrap: wrap;
        padding-top: 5px;

        .card-item {
            width: 200px;
            border-radius: 4px;
            background: #F3F5F2;
            padding: 15px 0 24px;
            position: relative;
            margin: 0 8px 20px;
            border: 1px solid transparent;
            background: url('./assets/images/shape1.png') no-repeat center top #F3F5F2;
            box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.2);

            figure {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    min-height: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .card-title {
                padding-top: 20px;

                label {
                    display: block;
                    font-family: $primaryFont;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: $secondary-color;
                    padding: 0px;
                    margin: 0px;
                    text-align: center;
                }

                p {
                    display: block;
                    font-family: $primaryFont;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: $base-color1;
                    padding: 0px;
                    margin: 0px;
                    padding-bottom: 25px;
                    text-align: center;
                }
            }

            .card-details {
                padding: 0 38px;

                label {
                    color: #8781AD;
                    font-weight: 500;
                    font-family: $primaryFont;
                    font-size: 12px;
                    padding: 0px;
                    margin: 0 0 15px 0;
                    line-height: 16px;
                }

                ul {
                    margin: 0px;

                    li {
                        padding-bottom: 10px;
                        display: flex;
                        justify-content: space-between;

                        p {
                            color: $base-color1;
                            font-family: $primaryFont;
                            font-size: 14px;
                            font-weight: 400;
                            display: block;
                            padding: 0px;
                            margin: 0px;
                        }

                        span {
                            color: $base-color;
                            font-family: $primaryFont;
                            font-size: 14px;
                            font-weight: 400;
                            display: block;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }

                .card-actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 0 0 0;

                    a {
                        cursor: pointer;
                    }
                }
            }

            .custom-checkbox {
                position: absolute;
                left: 16px;
                top: 16px;
                display: none;

                .custom-control-label {
                    &:before {
                        background: transparent;
                        border: 1px solid $white;
                    }

                    // &:after {border:1px solid $white;}
                }
            }

            &:hover {
                border: 1px solid #58508D;

                .custom-checkbox {
                    display: block;
                }
            }
        }
    }
}


.breadcrumbs {
    margin: 0px;
    padding: 0px;
    border-left: 2px solid $secondary-color;
    margin-left: 20px;
    padding-left: 20px;

    li {
        font-family: $primaryFont;
        font-weight: 400;
        color: $secondary-color;
        font-size: 14px;
        line-height: 17px;
    }
}

.tasks-section {
    .tasks-header {
        display: flex;
        justify-content: space-between;

        .task-filters-left {
            ul {
                padding: 0px;
                margin: 0px;
                display: flex;
                height: 32px;
                background: #F3F5F2;
                @include border-radius(4px);
                box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25);
                overflow: hidden;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;
                    height: 100%;
                    font-family: $primaryFont;
                    font-size: 16px;
                    font-weight: 400;
                    color: $secondary-color;
                    cursor: pointer;
                    border-right: 0.5px solid #D5D5DE;
                    &.active {
                        background: #D3D2E1;
                        cursor: default;
                    }
                }
            }
        }

        .task-filters-right {
            >ul {
                display: flex;
                align-items: center; margin-bottom:5px;

                >li {
                    margin-left: 30px; height:62px;

                    label {
                        font-family: $primaryFont;
                        color: $primary-color;
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }

                    .custom-select {
                        border: 0px;
                        background: url('./assets/images/dropdown.png') no-repeat right center;
                        outline: none !important;
                        box-shadow: none !important;
                        font-family: $primaryFont;
                        font-weight: 400;
                        font-size: 16px;
                        color: $base-color1;
                        padding: 0;
                        height: auto;
                    }

                    .multiselect {
                        width: 180px;
                        min-height: 24px;

                        .multiselect__select {
                            position: absolute;
                            width: auto;
                            height: 24px;
                            transform: inherit !important;

                            &:before {
                                border-width: 6px 6px 0;
                                border-color: #000 transparent transparent;
                                position: absolute;
                                right: 0;
                                top: 7px;
                                margin-top: 0px;
                            }
                        }

                        .multiselect__tags {
                            padding: 0px 40px 0 0px;
                            min-height: 20px;
                            background: transparent;
                            border: 0px;

                            .multiselect__placeholder {
                                font-family: $primaryFont;
                                font-weight: 400;
                                font-size: 16px;
                                color: $base-color1;
                                padding: 0px !important;
                                margin: 0px !important;
                            }

                            .multiselect__input {
                                font-family: $primaryFont;
                                font-weight: 400;
                                font-size: 16px;
                                color: $base-color1;
                                padding: 0px !important;
                                margin: 0px !important;
                                background: transparent;
                                min-height: 24px;
                                line-height: 24px;
                            }

                            .multiselect__single {
                                font-family: $primaryFont;
                                font-weight: 400;
                                font-size: 16px;
                                color: $base-color1;
                                padding: 0px !important;
                                margin: 0px !important;
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    .task-wrap {
        .task-list {
            background: #F3F5F2;
            @include border-radius(4px);
            box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25);
            padding: 12px 24px;
            margin-bottom: 16px;
            &.low {border-left: 4px solid rgba(255, 167, 38, 0.2);}
            &.medium {border-left: 4px solid #FFA726;}
            &.high {border-left: 4px solid #D90E0E;}
            >  ul {
                display: flex;
                justify-content: space-between;

                li {
                    width: 100%;

                    .task-item {
                        label {
                            font-family: $primaryFont;
                            font-size: 14px;
                            padding-bottom: 4px;
                            margin-bottom: 12px;
                            line-height: 16px;
                            font-weight: 400;
                            color: $primary-color;
                            display: block;
                            border-bottom: 1px solid #D3D3D3;
                            text-transform: uppercase;
                        }

                        .task-content > span {
                            border: 1px solid rgba($secondary-color, 0.6);
                            background: rgba($secondary-color, 0.1);
                            text-transform: uppercase;
                            font-size: 14px;
                            font-family: $primaryFont;
                            color: $secondary-color;
                            height: 28px;
                            display: inline-flex;
                            align-items: center;
                            padding: 0 15px;
                            @include border-radius(20px)
                        }

                        small {
                            font-family: $primaryFont;
                            font-size: 16px;
                            font-weight: 400;
                            color: $secondary-color;
                            display: block;
                        }

                        p {
                            font-family: $primaryFont;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 18px;
                            color: $black;
                            display: block;
                            margin: 0px;
                        }

                        strong {
                            font-family: $primaryFont;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            color: $black;
                            display: block;
                        }

                        .task-content {
                            display: block;
                            height: 55px;
                            padding-right: 20px;

                            .profile-sec {
                                display: flex;
                                align-items: center;
                                &.profile-all {
                                    figure {background:#EBB110;}
                                }
                                figure {
                                    width: 30px;
                                    height: 30px;
                                    overflow: hidden;
                                    border-radius: 50%;
                                    margin: 0 12px 0 0; background:#BC5090;

                                    img {
                                        max-width: 100%;
                                        width: auto;
                                        height: auto;
                                    }
                                }

                                figcaption {
                                    font-family: $primaryFont;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 18px;
                                    color: $black;
                                    display: block;
                                }
                            }

                            .router-link-active {
                                font-family: $primaryFont;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 18px;
                                color: #2A85D0;

                                &:hover {
                                    text-decoration: none;
                                    color: $secondary-color;
                                }
                            }

                            .description {
                                background: $white;
                                border: 1px solid #C4C4C4;
                                @include border-radius(4px);
                                padding: 8px;
                            }

                            .attachments {
                                max-width: 93px;
                                text-align: right;

                                small {
                                    display: inline-block;
                                    padding: 0 0 0 30px;
                                    color: #2A85D0;
                                    background: url('./assets/images/clip.svg') no-repeat left center;
                                }
                            }

                            .activity {
                                color: $base-color;
                                font-family: $primaryFont;
                                font-size: 16px;
                                font-weight: 400;

                                &:hover {
                                    text-decoration: none;
                                    color: $secondary-color;
                                }
                            }
                        }
                    }

                    &.owner {
                        width: 50%;
                    }

                    &.create {
                        width: 50%;
                    }

                    &.priority {
                        width: 50%;
                    }

                    &.task-actions {
                        width: auto;
                        white-space: nowrap;

                        .task-item .task-content {
                            padding-right: 0px;
                            text-align: right;
                            .takeaction {background:transparent; padding:0px; margin:0px; border:0px; font-size:16px; color:#2A85D0; font-weight:500; font-family:$primaryFont; outline:none !important; box-shadow:none !important;}
                        }
                    }
                }
            }
        }
    }
}

.modal-content {
    border: 0px !important;

    .modal-body {
        padding: 0px;
        background: #F6F6F6;
        border-radius: 4px;
        overflow: hidden;

        .close {
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            min-height: 20px;
        }

        .modal-foot {
            display: flex;
            border-top: 1px solid #8689D0;

            button {
                width: 50%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0px;
                box-shadow: none !important;
                outline: none !important;
                background: transparent;
                font-family: $primaryFont;
                color: $base-color;
                font-weight: 500;
                font-size: 14px;
                @include transition (all, 0.3s, ease);

                &:nth-child(1) {
                    border-right: 1px solid #8689D0;
                }

                &:hover {
                    background: #8689D0;
                    color: $white;
                }
            }
        }
    }
}

.alert-messages {
    padding: 55px 0 0 0;

    label {
        font-family: $primaryFont;
        font-size: 16px;
        font-weight: 400;
        color: $black;
        padding: 0px;
        margin: 0px;
        display: block;
        text-align: center;
        margin: 0 0 30px 0;
    }
}

.edit-modal {
    .edit-pofile {
        padding: 54px 0 0 0;

        .profile_dp {
            position: relative;
            width: 180px;
            height: 180px;
            margin: 0 auto;
            display: block;

            figure {
                width: 180px;
                height: 180px;
                margin: 0 auto;
                display: block;

                img {
                    width: 100%;
                }
            }

            span {
                position: absolute;
                right: 0px;
                bottom: 0px;
                cursor: pointer;
            }
        }

        .profile-details {
            padding: 32px 0 0 0;

            h6 {
                display: block;
                text-align: center;
                font-family: $primaryFont;
                font-weight: 500;
                color: $black;
                margin-bottom: 24px;
            }

            ul {
                padding: 0 70px 0 0;

                li {
                    display: flex;
                    align-items: center;
                    padding: 0 0 8px 0;

                    label {
                        width: calc(100% - 230px);
                        text-align: right;
                        padding: 0 24px 0 0;
                        font-family: $primaryFont;
                        font-weight: 400;
                        color: $black;
                        font-size: 16px;
                        margin: 0px;
                    }

                    .form-control {
                        box-shadow: none !important;border: 0.5px solid #BDBDBD;
                        outline: none !important;font-family: $primaryFont; color:$black; font-size:16px; font-weight:400; height:36px;    width: 230px;
                        &[type=email] {color:$base-color;}
                    }
                }
            }
        }
    }
}

.filter-sec {
    .btn-group {
        background: #F3F5F2;
        box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.2);
        border-radius: 4px;

        .btn {
            font-size: 16px;
            color: #58508D;
            background: #F3F5F2 !important;
            border: 1px solid #D5D5DE;
            border-top: none;
            border-bottom: none;
            border-right: none;
            padding: 5px 20px;
            box-shadow: none;
            outline: none;

            &:first-child {
                border: none;
            }

            &:hover {
                border: none;

                border-color: #D5D5DE !important;
                border-left: 1px solid #D5D5DE; 
                background: #F3F5F2 !important;
                color: #58508D !important;
                box-shadow: none;
            }

            &.active, &:active {
                border: none;
                border-left: 1px solid #D5D5DE;
                border-color: #D5D5DE !important;
                background: #D3D2E1 !important;
                color: #58508D !important;
                box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.25), inset 4px 4px 8px rgba(55, 84, 170, 0.25);
            }
        }
    }

    .filter-group {
        .dd-title {
            font-size: 14px;
            color: #58508D;
            height: 20px;
            line-height: 18px;
            text-transform: uppercase;
            display: block;
        }

        .dropdown-btn {
            box-shadow: none;

            >.btn {
                padding: 0 25px 0 0;
                min-width: 75px;
                text-align: left;
                color: #000;
                outline: none;
                border: none;

                &:focus {
                    outline: none;
                }

                &::after {
                    right: 0;
                    position: absolute;
                    top: 10px;
                }
            }
        }

        .dropdown-menu {
            background: #F6F6F6;
            border: 1px solid #8689D0;
            padding: 0;
            box-shadow: 4px 4px 8px rgba(55, 84, 170, 0.2);
            border-radius: 4px;

            >li {
                border-top: 1px solid #8689D0;

                &:first-child {
                    border-top: none;
                }

                a {
                    padding: 12px 20px;
                    min-width: auto;
                    
                   &.active, &:active{
                       background: #8689D0 !important;
                   }
                }
            }
        }
    }
}

.multiselect {    min-height: 36px !important; width: 200px !important;
    .multiselect__select {
        &:before { border-color: #424242 transparent transparent;}
    }
    .multiselect__tags {min-height: 36px !important;border: 0.5px solid #BDBDBD;
        .multiselect__single {font-family:$primaryFont; font-size:16px; font-weight:400; color:$black;}
        .multiselect__input {font-family:$primaryFont; font-size:16px;}
    }
    .multiselect__content-wrapper {border: 1px solid #8689D0; border-top: 1px solid #8689D0 !important; background:#F6F6F6; border-radius: 4px;
        .multiselect__content {    padding: 0 !important;
            .multiselect__element {padding:0px; margin:0px; border-top: 1px solid #8689D0;
                &#null-0 {border-top:0px;}
                .multiselect__option {width:100%; padding-left:20px;
                    &.multiselect__option--highlight {background:$primary-color;
                        span {color:$white;}
                    }
                    span {font-family:$primaryFont; color:#49494A; font-size:16px; font-weight:400;}
                }
            }
        }
    }
}
.modal-dialog {
    &.modal-lg {max-width:525px;}
}
* {outline:none !important;}
.modal-table {padding:60px 24px;
    table {width: 100%; 
        thead {
            tr {
                td {font-family: $primaryFont; color:rgba($secondary-color , 0.7); font-size:14px; font-weight:400; text-transform:uppercase; padding-bottom:10px;}
            }
        }
        tbody {
            tr {border-top: 1px solid #D3D3D3;
                td {height:50px; font-family:$primaryFont; font-size:16px; color:$black; font-weight:400;
                    .custom-checkbox {padding:0px; width:25px;
                        .custom-control-label:before {background:transparent;}
                    }
                    span {color:$base-color; font-weight:400;}
                    a {color:$base-color; font-weight:500;}
                }
            }
        }
    }    
}

.task-filters {
    ul {display:flex;
        li {font-family: $primaryFont;border-right: 1px solid #D3D2E1; padding:0 20px 0 0; margin: 0 20px 0 0; height:32px; display:flex; align-items: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500; 
            text-align: left; 
            color:#888798; 
            
            &.active {
                p {color:$secondary-color; 
                    &:after {width:100%;}
                }
            }
            &:nth-last-child(1) {border-right:0px;}
            p {font-family: $primaryFont; font-size: 14px; line-height:17px;border-bottom:2px solid transparent;
                font-style: normal; padding-bottom:3px;
                font-weight: 500; color:#888798; cursor: pointer; margin:0px; position: relative;
                span {font-weight: 400;}
                &:after {content:''; width:100%; height:1px; background:$secondary-color; width:0px; position: absolute; left:0px; top:100%; @include transition (all, 0.3s, ease);}
            }
        }
    }
}
.document-filters {padding-bottom:30px;
    ul {display:flex; margin:0 -16px;
        li {width:74px; margin:0 16px; height:74px; cursor: pointer; flex-direction: column; font-family:$primaryFont; color:$secondary-color; font-size:12px; font-weight:500; display:flex; align-items: center; justify-content: center; background: #F3F5F2;  box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25); border-radius: 4px;      
            &.active {background: #D3D2E1; box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.08), inset 4px 4px 8px rgba(55, 84, 170, 0.25);}
            img {margin-bottom:5px;}
            &.all {font-size:22px;}
        }
    }
}
.padb20 {padding-bottom:20px !important;}

.documents_wrap {
    .task-list  {position: relative;
        ul {
            .category {    padding: 0 0 0 12px;
                .custom-checkbox {position: absolute; left:10px; top:10px;
                    .custom-control-label::before {background-color:transparent;}
                }
            }
            .document-type {width: auto !important; white-space: nowrap;
                .task-item {
                    .task-content {
                        a {font-size:16px; line-height:18px; color:$base-color; font-family:$primaryFont; font-weight:500; display:inline-block; text-decoration:underline;}
                        .attachments {text-align: left !important;
                            small {background:url('./assets/images/clip2.svg') no-repeat left center !important;    padding: 0 0 0 15px !important;}
                        }
                    }
                }
            }
            .task-actions {
                p {text-align:left !important;}
            }
        }
    }
}
.task-wrap {width:100%;  overflow: auto;}
.popper { /*margin-left:-523px !important;*/     text-align: left !important;     text-transform: capitalize  !important; background: #F6F6F6;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 69, 170, 0.25) !important; border:0px !important;
    .popper_head {height:75px; display:flex; align-items: center; justify-content: space-between; padding:0 40px;
        h5 {font-family:$primaryFont; font-size:22px; color:$secondary-color; line-height:22px; font-weight:500; padding:0px; margin:0px;}
    }
} 
//.task-list {position: relative; width: 100%;}
.popover_tabs_wrap {text-align:left !important;
    span {border: 0px !important;  background: transparent !important; padding: 0px !important; margin: 0 !important;}
    .popper {    background-color: transparent !important;border: 0px !important;padding: 0px !important; box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.25); text-transform: capitalize;
        .popper__arrow {left: calc(100% - 60px) !important;   display:none;
        }
    }
}
.popover_tabs {   background:#F3F5F2; margin:0px; width:680px; border: 1px solid #8781AD; border-radius:4px;
    box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.25);
    &.access_tabs {width:530px;
        .tab_content .reply_sec .reply_bottom .reply_cnt input {    width: 310px;}
    }
    .popover_tab_title {padding:22px 20px;
        h5 {font-family:$primaryFont; font-size:16px; line-height:18px; font-weight:500; color:$secondary-color; margin:0px; text-align: left; text-transform: capitalize;}
    }
    .nav-tabs {display:flex; width:100%; justify-content: space-between; padding: 0 20px 24px;border-bottom:0px; border-radius:0 0 4px 4px;
        li {width: auto !important;
            .nav-link {    white-space: normal; width: 70px; padding:0px; border:0px !important;    text-align: center;
                figure {width:60px; height:60px; border-radius:50%;display:flex; align-items: center; justify-content: center;  box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25); background:rgba(#F6F6F6 , 0.6); margin:0 auto 15px;
                    img {display:block;}
                }
                em {color:$base-color; font-style:normal; font-size:16px; line-height:18px; font-family:$primaryFont; font-weight:400; padding:0px; margin:0px; display: inline-block; position: relative;
                    &::after {content:''; width:0px; height:2px; background:#58508D; position: absolute; left:0px; top:calc(100% + 5px); display:block; border-radius:30px; @include transition (all, 0.3s, ease);}
                }
                &.active {background:transparent;
                    figure {background: rgba(#D3D2E1 , 0.6); box-shadow:none; }
                    em {color:$secondary-color;
                        &::after {width:100%;}
                    }
                }
            }
        }
    }
    .tab_content {padding:16px 24px 24px 24px; border-top: 1px solid #8781AD;
        .assign_sec {
            .group_search {display:flex; align-items: center; margin-bottom:15px;
                span {font-family:$primaryFont; font-weight:400; font-size:14px; color:$black; padding:0 10px 0 0 !important;  margin:0px !important;}
                .form-control  {background:$white; color:$black; padding-left: 10px; font-size: 14px; font-weight:400; font-family:$primaryFont;
                    &::placeholder {color:$black;}
                }
            }
            .form-control {width:230px; height:36px; background:url('./assets/images/search-icon.svg') no-repeat 8px center $white; padding:0 10px 2px 36px; outline:none !important; box-shadow:none !important; border-radius:4px; display:flex; align-items: center; 
                font-size: 14px; font-weight:400; font-family:$primaryFont; color:#B0B0B0;
            }
            .members_list_wrap {display:flex; padding:24px 0 0 0; margin:0 -5px;}
            .members_list {width:50%; margin:0 5px; text-align:left;
                h6 {font-family:$primaryFont; font-size:14px; color:#757575; padding:0px; margin:0 0 8px 0;}
                ul {background: rgba(255, 255, 255, 0.7); border: 1px solid rgba(189, 189, 189, 0.7); padding:12px; margin:0px; border-radius:4px; min-height: calc(100% - 25px);
                    li {display:flex; align-items: center; justify-content: space-between; margin-bottom:8px;
                        figure {margin:0 8px 0 0; width:30px; height:30px; overflow:hidden; border-radius:50%;
                            img {display:block; max-width:100%;}
                        }
                        figcaption {font-family:$primaryFont; font-size:14px; font-weight:400; color:$black; }
                        &:nth-last-child(1) {margin-bottom:0px;}
                        em {cursor: pointer;}
                    }
                }
            }
            .members_list_actions {display:flex; align-items: center; justify-content: flex-end; padding:20px 0 0 0;
                button {background:transparent; border:0px; font-family:$primaryFont; font-weight:500; color:$base-color; text-transform:uppercase; margin:0 0 0 20px;
                    &:hover {color:$secondary-color;}
                }
            }
        }
        .reply_sec {background:$white; width:100%; height:250px; border: 1px solid rgba(219, 219, 219, 0.7); border-radius:4px;
            .reply_list {width:100%; display: block; height:182px;  }
            .reply_bottom {height:66px; display:flex; align-items: center; justify-content: space-between; padding:0 20px 0 0; border-top:1px solid #BDBDBD;
                .reply_actions {display:flex; align-items: center; justify-content: center;
                    li {cursor: pointer; margin:0 5px 0 0; width:35px;text-align: center;}
                }
                .reply_cnt {
                    input {    width: 470px; color:#757575; font-size:16px; font-weight:400; font-family:$primaryFont; border:0px; text-align:right; padding:0 40px 0 0; }
                    button {border:0px; background:transparent;
                        img {@include transition (all, 0.2s, ease);
                            &:hover {transform: scale(1.2);}
                        }
                    }
                }
            }
        }
    }
}
 

//.b-popover { margin-right:-140px;}
.popper_cnt {
    span {border: 0px !important;  background: transparent !important; padding: 0px !important; margin: 0 !important;}
    .popper {    padding: 0 !important; margin:0px !important;
        .popper__arrow {display:none;}
    }
}
.activity_table {padding:30px;    padding-top: 0;
    table {
        thead {
            tr {border-bottom: 1px solid rgba(#D3D3D3 , 0.3);    
                th {color:$primary-color; font-size:14px; font-family:$primaryFont; font-weight:400; text-transform:uppercase; padding-left:15px; padding-right:15px;
                    &:nth-child(1) {padding-left: 40px;}
                }               
                // &:before {content:''; }  
            }
        }
        tbody {
            tr {    padding-left: 20px;  
                td {color:$black; font-size:16px; line-height: 22px;  font-family:$primaryFont; font-weight:400;  padding-left:15px; padding-right:15px;    height: 65px;
                    span {display:block;}
                    .activity_profile {display: flex; align-items: center;
                        figure {width:30px; height:30px; overflow: hidden; border-radius:50%; margin: 0 12px 0 0;
                            img {max-width:100%;}
                        }
                        figcaption {max-width:90px; white-space:normal; }
                    }
                    .comments {width:310px; white-space: normal;
                        em {font-style: normal;}
                    }
                    &:nth-child(1) {padding-left: 40px; position: relative;
                        &:before {content:''; width:16px; height:16px; background:$secondary-color; border-radius:50%; position: absolute;left:0px; top:12px; display:block; z-index:99;}
                        &::after {content:''; width:1px; height:100%; background:rgba(#D3D3D3 , 0.3); position: absolute; left:7px; top:12px;}
                    }                    
                } 
                &:nth-last-child(1) {
                    td::after {display:none;}
                }               
            }
        }

    }
}

.dashborad_main_content {
    .dashborad_cnt {width:100%; min-height:500px; opacity:0; visibility: hidden;  display:none;
        &.open {opacity:1; visibility: visible; display:block;}
        .alert_actions{
            .task-item {height: 100%;min-width: 120px;
                .task-content {display: flex  !important; flex-direction: column; justify-content: space-around; height: calc(100% - 21px)  !important;
                    p {font-family:$primaryFont; font-size:16px; color:$base-color; padding:0px; margin:0px; cursor: pointer;}
                }
            }
        }
        .alert_actions2 {
            .task-item { 
                .task-content { display: flex  !important; flex-direction: column; justify-content: space-around;
                    p {font-family:$primaryFont; font-size:16px; color:$base-color; padding:0px; margin:0px; cursor: pointer;}
                }
            }
        }
        .location {
            p {background:url('./assets/images/pointer.svg') no-repeat right center; padding:0 20px 0 0;display: inline-block !important; margin:0 0 10px 0;}
            a { font-family:$primaryFont; color:$base-color; font-size:16px; cursor: pointer; font-weight:400;
                &:hover {color:$base-color; }
                img {display:inline-block; margin-left:8px;}
            }
        }
        .date {
            p {padding-bottom:10px;
                &:nth-last-child(1) {padding-bottom:0px;}
            }
        }
        .members_list {display: flex;
            li {width: auto !important; margin-right:-10px;
                figure {border:1px solid $white; border-radius:50%; width:30px; height:30px; overflow: hidden; margin:0px; background:#2A85D0;
                    img {width:100%; min-height:100%; display:block;}
                }
            }
        }
    }
    .performance_cnt {    padding:0 10px;
        .row {margin-left:-8px !important; margin-right:-8px !important;}
        .col {padding-left:8px !important; padding-right:8px !important;}
        .widget {width:100%; padding:24px; min-height:380px; background:#F3F5F2; border-radius:4px; box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25); margin-bottom:16px;     height: calc(100% - 16px);
            h6 {font-family:$primaryFont; font-size:16px; color:$secondary-color; display:block; padding:0px; margin:0px;}
            .widger_body {     
                .chartdiv {
                    width: 100%;
                    height: 300px;
                }
                #supportTicketChart {height:400px;}
                .assigned_tracker {display:flex; width:100%;
                    .assigned_pie {width:290px;}
                    .assigned_chart {width:calc(100% - 290px);}
                }
            }
            .widget_filters {padding:20px 0 0 0;}
        }
    }
}

.date_range {
    .date {padding: 0; border: 0px; background:url('./assets/images/dropdown.png') no-repeat right center transparent; font-family:$primaryFont; font-size:16px; color:#49494A; font-weight:400; width: 200px;
        &::placeholder {font-family:$primaryFont; font-size:16px; color:#49494A; font-weight:400;}
    }
    .vc-popover-content-wrapper {
        .vc-popover-content {background: #F6F6F6;
            border: 1px solid #8689D0;
            box-sizing: border-box;
            border-radius: 4px;
            .vc-container {background:transparent;}
            .vc-arrows-container {padding:17px 10px;}
            .vc-header {padding: 0px 18px 0 18px;  border-bottom: 0.5px solid #8781AD; height: 65px;
                .vc-title {font-family:$primaryFont; font-size:22px; color:$secondary-color; font-weight:500;}
            }
            .vc-weeks {
                .vc-weekday {font-family:$primaryFont; font-weight:400; font-size:14px; color:#8689D0;}
            }
            .vc-day {
                .vc-day-content {font-family:$primaryFont; font-weight:400; font-size:14px; color:$black;
                   // &.vc-focusable {background:$secondary-color;}
                }
            }
        }
    }
}

.login_wrap {background:url('./assets/images/login_bg.png') no-repeat center center #E5E5E5; background-size:cover; width:100%; height:100vh; display:flex; align-items: center; justify-content: center;
    .login_cnt {background: #F3F5F2;
        box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25);    flex-direction: column;
        border-radius: 4px; width:620px; height:440px; display: flex; align-items: center; justify-content: center;
        figure {display:block; margin:0px 0 30px 0;
            img {display:block;}
            &.login_img {margin-bottom:50px;}
        }
        .login_btn {background: #F3F5F2; border-radius: 4px; padding:0 24px; height:36px; display:flex; align-items: center;
            border:0px; outline:none; font-family:$primaryFont; font-weight: normal; font-size: 16px;
            line-height: 19px; color:$black; box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25);
            img {padding:0 24px 0 0;}
        }
        a {text-decoration:none !important;}
    }
}

.legendlist {padding:0px 0px 0px 15px; margin:-20px auto 0px; display:flex; align-items: center; max-width:280px;  flex-wrap: wrap;
    li {margin-left:0px; width:50%; margin-bottom:10px;
         p {font-family:$primaryFont; font-weight:500; color:#18203F; font-size:12px; margin:0px; position: relative; padding:0 0 0 17px;
             &:before {content:''; width:12px; height:12px; border-radius:3px; background:$black;display: block;
                 position: absolute;
                 left: 0;
                 top: 50%;
                 transform: translateY(-50%);}
         }
         &.filed p:before {background:#009D9A;}
         &.nextdate p:before {background:#FFA726;}
         &.overdue p:before {background:#BC5090;}
    }
}

.graph_cnt {
    ul {
        li {display: flex; align-items: center; padding:0 0 20px 0;
            label { display:block; font-family:$primaryFont; font-weight:normal; font-size:14px; color:$black; line-height:18px; text-align: right; width:100px; padding:0 15px 0 0; } 
            .graph_elements {width:calc(100% - 100px); display:flex;
                p {display:block; height:16px; padding:0px; margin:0px;}
            }
        }
    }
}
.assigned_chart {
    .graph_cnt { 
        ul {display:flex;justify-content: space-around;
            li {display:block; padding:0px;
                .indv_user {position: relative;
                    figure {margin:17px 0 0 0}
                    .user-details {background:#F6F6F6; display: none; align-items: center; padding:0 20px 0 10px; border-radius:6px; height:42px; border: 1px solid #8689D0; box-shadow: 0px 2px 2px rgba(196, 196, 196, 0.25); position: absolute; top:calc(100% + 10px); left:0px; 
                        img {margin-right:7px;}
                        span {white-space:nowrap; font-family:$primaryFont; font-size:14px; font-weight:400px; color:$black;} 
                    }
                    &:hover .user-details{display:flex;}
                }
                .graph_elements  { width:30px;height:285px;display: block; position: relative;
                    p {width:16px; height:auto; margin:0 auto;}
                    .graph_elements_popper {width:140px; background: #FFFFFF; border: 0.6px solid #8689D0; box-shadow: 0px 2px 2px rgba(196, 196, 196, 0.25); border-radius:6px;position: absolute;
                        top: 50%; left:50%; transform: translate(-50% , -50%);
                        z-index: 9999; padding:12px; display:none;
                        label {font-family:$primaryFont; font-size:16px; font-weight:500px; padding:0px; margin:0 0 10px 0;}
                        ul {display: block;
                            li {padding:4px 0;
                                p {font-family:$primaryFont;width: auto; color:$black; font-size:14px; line-height:16px; padding:0px; margin:0px; display: flex; justify-content: space-between; position: relative; padding:0 0 0 15px;
                                    span {}
                                    &:before {content:''; width:8px; height:8px; background:$black; position: absolute; left:0px; top:4px;    border-radius: 50%; }
                                }
                                &.filed p:before {background:#009D9A;}
                                &.nextdate p:before {background:#FFA726;}
                                &.overdue p:before {background:#BC5090;}
                            }
                        }
                    }
                    &:hover .graph_elements_popper {display:block;}
                }
                &:nth-last-child(1), &:nth-last-child(2) {
                    .indv_user .user-details {left:inherit; right:0px;}
                    .graph_elements .graph_elements_popper {left:0;}
                }
            }
        }
    }
    .subtitle {font-family:$primaryFont; font-size:14px; line-height:16px; font-weight:400; color:$black; padding:0px; text-align: center;}
}
.timetracker_details {
    .timetracker_list {padding-bottom:0px;
        label {font-family:$primaryFont; font-size:16px; font-weight:500; color:$black; position: relative; padding-left:16px; margin:0 0 12px 0;
            &:before {content:''; width:10px; height:10px; background:#FFA726; position: absolute; left:0px; top:0px;      top: 7px;
                border-radius: 50%;}
        }
        ul {
            li {padding-bottom:10px; margin:0px;
                p {font-family:$primaryFont; font-size:16px; line-height:19px; margin-bottom:2px; font-weight:400; color:$secondary-color; }
                span {font-family:$primaryFont; font-size:14px; line-height:16px; margin-bottom:6px; font-weight:400; color:$black; }
            }
        }
        &.online label:before { background:#FFA726;}
        &.offline label:before {background:#714FFF;}
    }
}

.timetracker_graph {display:flex;
    .chartdiv {width:300px;}
    .timetracker_details {width:calc(100% - 300px);}
}

.tasktracker_graph {padding-top:40px;flex-wrap: wrap;
    
}

.chat_section {display: flex; align-items: flex-end; position: fixed; bottom:20px; right:20px; z-index:999;
    .chat_icon {width:72px; height:72px; border-radius:50%; display:flex; cursor: pointer; align-items: center; justify-content: center; background: #8689D0; border: 1px solid #8689D0;
        img {display:block;}
    }
}
.instant_chat_sec { width:590px; width:615px; background: #F3F5F2;  
    &.active {display: block;}
    border: 0.5px solid #8781AD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.25);
     border-radius:4px;
    .chat_head { display: flex; height:80px; align-items: center; padding:0 20px;
        a {font-family:$primaryFont; font-size: 16px; cursor: pointer; color:$base-color !important; line-height:19px; font-weight:500; display: inline-flex; align-items: center;
            img {padding-right:20px;}
        }
    }
    .chat_body {border-top: 0.5px solid #BDBDBD;
        .card {border:0px !important; background: #F3F5F2;; 
            .card-header { background: transparent; border-bottom: 0px;
                .nav  {margin:0px;
                    .nav-item {border-right: 0.5px solid #D5D5DE; padding:0 24px 0 0; margin-right:24px;
                        .nav-link {font-family:$primaryFont; font-size:16px; color:#888798; font-weight:400; position: relative;    padding: 0;
                            &:after {content:''; width:100%; height:4px; background:transparent; position: absolute; top:100%; left:0px; border-radius:10px;}
                            &.active {color:#58508D; background:transparent;
                                &:after {background:#58508D;}
                            }
                        }
                        &:nth-last-child(1) {border-right:0px;}
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .users_list {padding:0px 0 20px 0; margin:0px -10px; display: flex;
                        li { text-align: center; padding:0 10px;
                            figure { padding:0px; margin:0px 0 6px 0; position: relative;
                                span {width:60px; height:60px; 
                                    img {min-width:100%; display: block;}
                                }
                                em, small {display:none;}
                            } 
                            figcaption {font-family:$primaryFont; font-size:16px; line-height:18px; color:#000000; font-weight:400;    width: 65px;}
                            &.online {
                                figure em{width:12px; display:block; height:12px; background: #6DD900; border: 1px solid #F5F7F4; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                                    position: absolute; right:0px; border-radius:50%; position: absolute; top:3px; right:3px;
                                }
                            }
                            &.more_messages {
                                figure small{min-width:16px; height:16px; padding:0 5px; background: #58508D;    font-family:$primaryFont; 
                                    position: absolute; right:0px; border-radius:4px; position: absolute; top:3px; right:3px; color:$white;    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

.conversation_sec {
    .conversation_wrap {background: #FFFFFF; padding:10px 20px 20px; border: 1px solid rgba(219, 219, 219, 0.7); border-radius: 4px; width:100%;  
        ul {max-height:225px; overflow: auto;width:100%;
            li { display: flex; padding-bottom:8px; 
                &.my_message {justify-content:flex-end;}
            }
        }
        .conversation_list {max-width:75%;
            .message {background: #F5F5F5; border: 0.6px solid rgba(#58508D , 0.3); padding:8px 10px;display: inline-block;
                border-radius: 0px 4px 4px 4px;
                p {font-family:$primaryFont; font-size:14px; color:$black; line-height:18px; padding:0px; margin:0px;}
            }
            .time {font-family:$primaryFont; font-size:12px; line-height:11px; color: #9E9E9E; display:block; padding:8px 0 0 0;}
        }
    }
    .typing_sec {background: $white; border: 0.6px solid rgba(#58508D , 0.3); border-radius:4px; height:72px; display:flex; justify-content: space-between; align-items: center;
         
        ul.attachments {display:flex; margin:0px; padding:0 10px;
            li { padding:0 8px;
                a {cursor: pointer;}
            }
        }
        .typing_cnt {display:flex; align-items: center; padding:0 20px 0 0;
            button {width:30px; text-align: center; background:none; border:0px !important; box-shadow:none !important;}
            .form-control {width:350px;text-align: right; font-family:$primaryFont; font-size:16px; font-family:$primaryFont;border:0px !important; font-weight:400; color:#888798; box-shadow:none !important;}
        }
    }
}

.full_chat_section { width:970px;  background: #F3F5F2; border: 0.5px solid #8781AD; display:block;
    box-sizing: border-box; box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.25); border-radius:4px; height:calc(100vh - 85px); display:flex;
    .chat_left {width:315px; border-right: 0.5px solid rgba(134, 137, 208, 0.6); height:100%;
        .chat_head {display:flex; align-items: center; justify-content: space-between; height:60px; padding:0 24px; border-bottom:0.5px solid rgba(134, 137, 208, 0.6);
            h5 {font-family:$primaryFont; font-size:22px; color:#58508D; margin:0px;}
            a { color:#2A85D0 !important; font-family:$primaryFont; font-weight:500; text-decoration:none !important; cursor: pointer;
                img {width:24px; margin-right:8px;}
            }
        }
        .chat_search {width:230px; background:url('./assets/images/search-icon.svg') no-repeat 8px center $white; padding:0 10px 3px 40px; height:36px; border-radius:4px; margin:16px 0 0 24px; border: 0.5px solid #BDBDBD; }
        .conversation_content {padding:0px 0 0 0; height: calc(100% - 112px);
            .chat_list {height:50%;
                h5 {font-family:$primaryFont; font-size:16px; font-weight:500;display: flex; align-items: center; color:$black; padding:20px 0 15px 24px; margin:0 0 0px 0; border-bottom: 0.5px solid rgba(134, 137, 208, 0.6);
                    img {display:block; padding:0 0 0 10px;}
                }
                > ul {padding:0 10px;height: calc(100% - 54px); overflow: auto;border-bottom: 0.5px solid rgba(134, 137, 208, 0.6);
                    li { height:75px; display:flex; align-items: center; justify-content: space-between; border-bottom: 0.5px solid rgba(134, 137, 208, 0.6); padding-right:10px;
                        figure {width:40px; height:40px; border-radius:50%; margin:0px;
                            img {display:block;}
                        }
                        .profile-details {padding:0 0 0 16px;
                            label { display:block; padding:0; margin:0px 0 5px 0; font-family:$primaryFont; font-weight:500; font-size:16px; line-height:18px; color:$black;}
                            p {font-family:$primaryFont; font-family:$primaryFont; font-size:16px; line-height:18px; color:$black; margin:0px;}
                        } 
                        .c_time_details {display: flex; flex-direction: column; justify-content: flex-end;
                            .c_time_actions {display: flex; margin:0px; padding:0px; justify-content: flex-end; align-items: center; padding-bottom:5px; border-bottom:0px;
                                li {height: auto; border:0px; padding: 0 0 0 10px;
                                    span {height:16px; min-width:16px; display: flex; align-items: center; justify-content: center; padding:0 5px; background:$secondary-color; 
                                        font-family:$primaryFont; font-size:14px; color:$white; font-weight:400; border-radius:4px;
                                    }
                                    a {
                                        img {display: block;}
                                    }
                                }
                            }
                        }
                        &:nth-last-child(1) {border-bottom:0px;}
                        &:hover, &.active {background: rgba(88, 80, 141, 0.19);}
                    }
                    &.fav_list {
                        li {
                            label {background:url('./assets/images/star2.svg') no-repeat right center;display: inline-block;
                                padding-right: 20px;}
                        }
                    }
                }
            }            
        }
    }
    .chat_right {width:calc(100% - 315px); display:flex; justify-content: flex-end; padding:0 8px 8px; flex-direction: column; position: relative;
        .conversation_wrap ul {max-height: 345px;}  
        .close {position: absolute; right:20px; top:20px; cursor: pointer;
            img {    display: block;}
        }
        .conversation_profile { display:flex; align-items: center; padding:0 0 15px 0; justify-content: space-between;
            
            figure {width:40px; height:40px; border-radius:50%; margin:0px;
                img {display:block;}
            }
            .profile_details {padding:0 0 0 16px;
                label { display:block; padding:0; margin:0px 0 5px 0; font-family:$primaryFont; font-weight:500; font-size:16px; line-height:18px; color:$black;}
                p {font-family:$primaryFont; font-family:$primaryFont; font-size:16px; line-height:18px; color:$black; margin:0px;}
            }   
                   
        }
        .profile_menu {
            .profile_icon {
                padding: 0;
                border: 0px;
                background: transparent; font-size:25px;
            }
            .popper {margin-left: -17px; padding:0px;
                .profile_list {width:175px;
                    ul {background: #F6F6F6; border: 0.5px solid #8689D0; border-radius: 4px; padding:0px; margin:0px;
                        li {border-bottom: 0.5px solid #8689D0; 
                            a {height:44px; display: flex; align-items: center; padding:0 0px 0 25px; cursor: pointer; font-family:$primaryFont; font-size:16px; color:#49494A; 
                                &:hover {    background: rgba(134 , 137 , 208 , 0.1);}
                            }
                            &:nth-last-child(1) {border-bottom:0px;}
                        }
                    }
                }
            }
            
        }
    }
}
.modal-content {padding:0px; background:#F6F6F6 !important;border: 0.5px solid #8689D0 !important;
    .modal-header {height: auto; padding: 0;box-shadow: none !important; border-bottom: 0px;    padding-bottom: 16px;
        .modal-title {font-family:$primaryFont; font-size:16px; color:$secondary-color; line-height:18px;}
    }
}

.group_body {
    .pofile {display: flex;
        .profile_details {padding:0 0 0 16px;
            label {    display: block; font-family:$primaryFont; font-size:16px; line-height:20px; color:#8781AD; font-weight:400;}
            input {width:363px; height:36px; background: #FFFFFF; padding:0 15px;
                border: 0.5px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 4px; font-family:$primaryFont; color:$black; font-size:16px;
                &::placeholder {font-family:$primaryFont; color:$black; font-size:16px;}
            }
        }
    }
    
}
.save {font-size:14px; color:#2A85D0; font-weight:500; font-family:$primaryFont; text-transform:uppercase; background:transparent; border:0px; box-shadow:none; padding:0px;}
.group_participants {
    .group_participants_head {border-bottom: 0.6px solid rgba(88, 80, 141, 0.6);   display: flex; justify-content: space-between;  padding:0 24px;
        .pofile {display: flex;
            figure {width:50px; height:50px; border-radius: 50%;
                img {max-width:100%;}
            }
            .profile_details {padding:0 0 0 16px;
                label { display: block; font-family:$primaryFont; font-size:16px; line-height:20px; margin-bottom:5px; color:#8781AD; font-weight:400;}
                p { display: block; font-family:$primaryFont; font-size:14px; line-height:20px; color:$black; font-weight:400;}
            }
        }
    }
    .group_participants_list {padding:0 15px;
        ul {
            li {display:flex; align-items: center; justify-content: space-between; height:65px; padding:0 30px 0 10px;border-bottom: 0.6px solid rgba(88, 80, 141, 0.6);
                figure {padding:0px; margin:0px;}
                figcaption {font-family:$primaryFont; font-size:14px; font-weight:500; color:$black; padding:0px 0 0 15px; margin:0px;}
                p {display:none; align-items: center; padding:0px; margin:0px;
                    span {display:inline-block; cursor: pointer; font-family:$primaryFont; font-size:14px; color:#8781AD; margin-left: 24px;}
                }
                &:hover {background: rgba(88, 80, 141, 0.19);
                    p {display:flex;}
                }
            }
        }
    }
}
#add-participants-modal___BV_modal_content_ , #view-participants-modal___BV_modal_content_{
    .modal-header {padding: 24px 24px 16px 24px;}
}

.add_participants_list {display:flex;
    .added_list {width:50%;border-right: 0.6px solid rgba(88, 80, 141, 0.6); padding-left:24px;
        h5 {font-family:$primaryFont; font-size:16px; line-height:20px; color:$secondary-color; padding:15px 0 0 0; margin:0 0 16px 0;}
        ul {
            li {display:flex; align-items: center; justify-content: space-between; height:65px; padding:0 10px 0 10px;border-bottom: 0.6px solid rgba(88, 80, 141, 0.6);
                figure {padding:0px; margin:0px;}
                figcaption {font-family:$primaryFont; font-size:14px; font-weight:500; color:$black; padding:0px 0 0 15px; margin:0px;}      
                span {cursor: pointer; display: block;}           
            }
        }
    }
    .adding_list {width:50%; padding:16px;
        .form_control {width:100%; height:36px; background:$white; border: 0.5px solid #BDBDBD; font-family:$primaryFont; color:$black; font-size:16px; line-height:18px; border-radius: 4px; padding:0 24px;
            &::placeholder {font-family:$primaryFont; color:$black; font-size:16px; line-height:18px;}
        }
        ul {box-sizing: border-box; box-shadow: 4px 4px 8px rgba(55, 84, 170, 0.25);border: 0.6px solid rgba(88, 80, 141, 0.6); border-radius:6px;
            li {display:flex; align-items: center; justify-content: space-between; height:65px; padding:0 10px 0 10px;border-bottom: 0.6px solid rgba(88, 80, 141, 0.6);
                figure {padding:0px; margin:0px;}
                figcaption {font-family:$primaryFont; font-size:14px; font-weight:500; color:$black; padding:0px 0 0 15px; margin:0px;}   
                &:nth-last-child(1) {border-bottom:0px;}  
                span {cursor: pointer; display: block;}              
            }
        }
    }
}
#add-group-modal___BV_modal_content_ , #edit-group-modal___BV_modal_content_   {padding:24px;

}
#mute-group-modal, #exit-group-modal {
    .modal-header {padding:0px;
        .close {    position: absolute;
            right: 10px;
            box-shadow: none;
            text-shadow: none;
            color: #fff;
            opacity: 1;
            font-size: 30px;}
    }
}
.mute_group_wrap { display:flex; height:308px;background: linear-gradient(180deg, #8689D0 0%, #58508D 100%);
    border: 0.5px solid #8689D0; border-radius:4px;
    .mute_group_left {width:50%; background:#F6F6F6;  border-radius:4px; height:100%; display: flex; flex-direction: column; align-items: center; justify-content: center;
        figure {display:block; margin:0 0 16px 0;
            img {display:block;}
        }
        label {font-family:$primaryFont; font-size:16px; color:$secondary-color; margin:0 0 16px 0;}
        p {font-family:$primaryFont; font-size:16px; color:$black; margin:0 0 0px 0; max-width:175px; text-align: center;}
    }
    .mute_group_right {width:50%; display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding:40px 0 20px;
      h5 {font-family:$primaryFont; font-size:16px; color:$white; margin:0px; max-width:159px; text-align: center;}
      form {
        .custom-checkbox  {margin-bottom:8px;}
        .custom-checkbox .custom-control-label {    padding: 0 0 0 8px; font-family:$primaryFont; font-weight:400; color:$white; font-size:16px;}
        .custom-checkbox .custom-control-label:before {background:transparent; border:1px solid $white;}
        .custom-control-input:checked ~ .custom-control-label::before {border:0px;}
      }  
      .button_wrap {display: flex; width:100%; justify-content: flex-end; padding:0 24px 0 0;
        .button {background:$white; padding:0 13px; height:36px;border: 0px; border-radius:4px; display: flex; align-items: center; font-family:$primaryFont; font-size:16px; color:$secondary-color;
            &.no {background:transparent; color:$white;}
        }
    }
    
    }
}


 .chat_list ul::-webkit-scrollbar, .conversation_wrap ul::-webkit-scrollbar {
    width: 5px;
}
 
.chat_list ul::-webkit-scrollbar-track, .conversation_wrap ul::-webkit-scrollbar-track { 
    border-radius: 10px;
    
}
 
.chat_list ul::-webkit-scrollbar-thumb, .conversation_wrap ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:rgba(#979797 , 0.65);     
}

#profile-modal___BV_modal_outer_ {
    .modal-dialog {    position: absolute; right:0px; }
    #profile-modal___BV_modal_backdrop_ {top: 56px;}
    .modal-content {border:0px !important;  position: absolute; right: 0px; top: 0px;
        #profile-modal___BV_modal_body_ {    
            position: absolute;
            right: 0px;
            top: 28px;
        }
    }
}

.profile_list {
    ul {width:220px; background: #F6F6F6;
        border: 1px solid #8689D0;
        border-radius: 4px; padding:0px; margin:0px;
        li {border-bottom: 0.5px solid #8689D0;
            a {padding:0 0 0 20px; height:50px; display: flex; cursor: pointer; align-items: center; font-family: $primaryFont; font-size:16px; font-weight:400; color:#49494A;}
            &:nth-last-child(1) {border-bottom:0px;}
        }
    }
}

.modal-open header {padding-right:40px;}

.switch_accounts_list {
    .switch_accounts {width:525px; padding:30px; background: #F3F5F2; box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 8px rgba(55, 84, 170, 0.25); border-radius: 4px; margin-bottom:16px;
        .switch_account_details {display: flex; align-items: center; justify-content: space-between; padding:0 0 15px 0;
            h6 {font-family:$primaryFont; font-size:16px; color:$black; font-weight:400; padding:0 0 0 42px; margin:0px;}
            a {font-family:$primaryFont; font-size:16px; font-weight:500; color:$base-color; padding:0px; margin:0px;}
        }
        ul {border-top: 0.5px solid #C4C4C4; display: flex; justify-content: space-between; padding:16px 30px 0 0; margin:0px;
            li {
                p {font-family:$primaryFont; font-size:14px; font-weight:400; color:$black; text-align:right; text-transform:uppercase;padding:0px; margin:0px;
                    span {display:block; font-size:16px; }
                }
            }
        }
    }
}

.dp {position: relative; display: flex; align-items: center; margin-bottom:4px;
    span {width:30px; height:30px; overflow:hidden; position: relative; display: block; border-radius: 50%;
        img {position: absolute; left:50%; top:50%; transform: translate(-50% , -50%); min-width:30px; max-width:50px;} 
    }
    figcaption {font-family:$primaryFont; font-size:22px; color:$black; font-weight:500; padding:0px; margin:0 0 0 12px;}
}