// @import '~bootstrap/dist/css/bootstrap.css';
// @import '~bootstrap-vue/dist/bootstrap-vue.css' ;


/*Primary Colors*/
$primary-color:#8781AD;
$secondary-color:#58508D;
$base-color:#2A85D0;
$base-color1:#49494A;
// #39415F;

// #7C84A0;


$base-color-1:#0077C2;
$base-color-2:#42526E;
$base-color-3:#024B79;
$base-color-4:#1D3B41;
$base-color-5:#D0D0D0;
$base-color-6:#707070;
$base-color-7:#EDF5FF;
$base-color-8:#00AC9F;
$blue-color-1:#024B79;
/*Accent Colors*/

$black:#000000;
$white:#ffffff;

$primaryFont: 'Helvetica Neue LT Std';
 
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('./assets/public/fonts/helveticaneue/HelveticaNeueLTStd-Roman.eot');
    src: url('./assets/public/fonts/helveticaneue/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('./assets/public/fonts/helveticaneue/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
         url('./assets/public/fonts/helveticaneue/HelveticaNeueLTStd-Roman.woff') format('woff'),
        // url('../fonts/helveticaneue/HelveticaNeueLTStd-Roman.ttf')  format('truetype'),
         url('./assets/public/fonts/helveticaneue/HelveticaNeueLTStd-Roman.svg#Helvetica Neue LT Std') format('svg');
        
}