<template>
    <aside class="side-menu"> 
        <ul>
            <li class="dashboard">
                <router-link to="/dashboard">
                    <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.23062 22.1538H7.38447V12.9231H3.69216V22.1538H1.84601V11.0769H9.23062V22.1538Z" fill="#F3F5F2"/>
                        <path d="M18.4615 22.1537H16.6153V7.38448H12.923V22.1537H11.0768V5.53833H18.4615V22.1537Z" fill="#F3F5F2"/>
                        <path d="M27.6922 22.1538H25.8461V1.84615H22.1538V22.1538H20.3076V0H27.6922V22.1538Z" fill="#F3F5F2"/>
                        <path d="M0 22.1536H29.5385V23.9997H0V22.1536Z" fill="#F3F5F2"/>
                    </svg>Dashboard
                </router-link>            
            </li>
            <li class="schedule">
                <router-link to="/schedule" class="active">
                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.7551 22H2.19501C0.997732 22 0 21.0023 0 19.805V3.69159C0 2.49431 0.798186 1.49658 1.84581 1.49658H2.94331V2.94329H1.84581C1.69615 2.94329 1.4966 3.24261 1.4966 3.69159V19.805C1.4966 20.2041 1.8458 20.5533 2.2449 20.5533H19.805C20.2041 20.5533 20.5533 20.2041 20.5533 19.805V3.69159C20.5533 3.24261 20.3039 2.94329 20.2041 2.94329H19.1066V1.49658H20.2041C21.2018 1.49658 22.0499 2.49431 22.0499 3.69159V19.805C21.9501 21.0023 20.9524 22 19.7551 22Z" fill="#F3F5F2"/>
                        <path d="M5.13831 4.43991C4.73922 4.43991 4.39001 4.0907 4.39001 3.69161V0.748299C4.39001 0.349206 4.73922 0 5.13831 0C5.53741 0 5.88661 0.349206 5.88661 0.748299V3.69161C5.83673 4.0907 5.53741 4.43991 5.13831 4.43991Z" fill="#F3F5F2"/>
                        <path d="M16.8118 4.43991C16.4127 4.43991 16.0635 4.0907 16.0635 3.69161V0.748299C16.0635 0.349206 16.4127 0 16.8118 0C17.2109 0 17.5601 0.349206 17.5601 0.748299V3.69161C17.5601 4.0907 17.2109 4.43991 16.8118 4.43991Z" fill="#F3F5F2"/>
                        <path d="M7.33337 1.49658H14.6168V2.99318H7.33337V1.49658Z" fill="#F3F5F2"/>
                        <path d="M1.44666 5.88672H20.5033V7.38332H1.44666V5.88672Z" fill="#F3F5F2"/>
                        <path d="M17.5601 8.82983H19.0068V10.2765H17.5601V8.82983Z" fill="#F3F5F2"/>
                        <path d="M14.6168 8.82983H16.1134V10.2765H14.6168V8.82983Z" fill="#F3F5F2"/>
                        <path d="M11.7234 8.82983H13.1701V10.2765H11.7234V8.82983Z" fill="#F3F5F2"/>
                        <path d="M8.78003 8.82983H10.2267V10.2765H8.78003V8.82983Z" fill="#F3F5F2"/>
                        <path d="M5.83679 8.82983H7.33339V10.2765H5.83679V8.82983Z" fill="#F3F5F2"/>
                        <path d="M17.5601 11.7732H19.0068V13.2199H17.5601V11.7732Z" fill="#F3F5F2"/>
                        <path d="M14.6168 11.7732H16.1134V13.2199H14.6168V11.7732Z" fill="#F3F5F2"/>
                        <path d="M11.7234 11.7732H13.1701V13.2199H11.7234V11.7732Z" fill="#F3F5F2"/>
                        <path d="M8.78003 11.7732H10.2267V13.2199H8.78003V11.7732Z" fill="#F3F5F2"/>
                        <path d="M5.83679 11.7732H7.33339V13.2199H5.83679V11.7732Z" fill="#F3F5F2"/>
                        <path d="M2.94336 11.7732H4.39007V13.2199H2.94336V11.7732Z" fill="#F3F5F2"/>
                        <path d="M17.5601 14.6667H19.0068V16.1633H17.5601V14.6667Z" fill="#F3F5F2"/>
                        <path d="M14.6168 14.6667H16.1134V16.1633H14.6168V14.6667Z" fill="#F3F5F2"/>
                        <path d="M11.7234 14.6667H13.1701V16.1633H11.7234V14.6667Z" fill="#F3F5F2"/>
                        <path d="M8.78003 14.6667H10.2267V16.1633H8.78003V14.6667Z" fill="#F3F5F2"/>
                        <path d="M5.83679 14.6667H7.33339V16.1633H5.83679V14.6667Z" fill="#F3F5F2"/>
                        <path d="M2.94336 14.6667H4.39007V16.1633H2.94336V14.6667Z" fill="#F3F5F2"/>
                        <path d="M14.6168 17.6099H16.1134V19.0566H14.6168V17.6099Z" fill="#F3F5F2"/>
                        <path d="M11.7234 17.6099H13.1701V19.0566H11.7234V17.6099Z" fill="#F3F5F2"/>
                        <path d="M8.78003 17.6099H10.2267V19.0566H8.78003V17.6099Z" fill="#F3F5F2"/>
                        <path d="M5.83679 17.6099H7.33339V19.0566H5.83679V17.6099Z" fill="#F3F5F2"/>
                        <path d="M2.94336 17.6099H4.39007V19.0566H2.94336V17.6099Z" fill="#F3F5F2"/>
                    </svg>Schedule
                </router-link>
            </li>
            <li class="task">
                <router-link to="/task" >
                    <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 2V20C1 20.5523 1.44772 21 2 21H17C17.5523 21 18 20.5523 18 20V2C18 1.44772 17.5523 1 17 1H2C1.44772 1 1 1.44772 1 2Z" stroke="#F3F5F2" stroke-width="1.5"/>
                        <line x1="8.5" y1="4.5" x2="14.5" y2="4.5" stroke="#F3F5F2" stroke-linecap="round"/>
                        <line x1="8.5" y1="8.5" x2="14.5" y2="8.5" stroke="#F3F5F2" stroke-linecap="round"/>
                        <line x1="8.5" y1="12.5" x2="14.5" y2="12.5" stroke="#F3F5F2" stroke-linecap="round"/>
                        <line x1="8.5" y1="16.5" x2="14.5" y2="16.5" stroke="#F3F5F2" stroke-linecap="round"/>
                        <path d="M4 4L5 5L6.5 3.5" stroke="#F3F5F2" stroke-linecap="round"/>
                        <path d="M4 8.5L5 9.5L6.5 8" stroke="#F3F5F2" stroke-linecap="round"/>
                        <path d="M4 12.5L5 13.5L6.5 12" stroke="#F3F5F2" stroke-linecap="round"/>
                        <path d="M4 16.5L5 17.5L6.5 16" stroke="#F3F5F2" stroke-linecap="round"/>
                    </svg>Task
                </router-link>
            </li>
            <li class="document">
                <router-link to="/documents" >
                    <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 20.5V2.5C18 1.94772 17.5523 1.5 17 1.5H5.41421C5.149 1.5 4.89464 1.60536 4.70711 1.79289L1.29289 5.20711C1.10536 5.39464 1 5.649 1 5.91421V20.5C1 21.0523 1.44772 21.5 2 21.5H17C17.5523 21.5 18 21.0523 18 20.5Z" stroke="#F3F5F2" stroke-width="1.5"/>
                        <path d="M1 5.5H6V1" stroke="#F3F5F2"/>
                        <line x1="8.5" y1="5" x2="14.5" y2="5" stroke="#F3F5F2" stroke-linecap="round"/>
                        <line x1="4.5" y1="9" x2="14.5" y2="9" stroke="#F3F5F2" stroke-linecap="round"/>
                        <line x1="4.5" y1="13" x2="14.5" y2="13" stroke="#F3F5F2" stroke-linecap="round"/>
                        <line x1="4.5" y1="17" x2="14.5" y2="17" stroke="#F3F5F2" stroke-linecap="round"/>
                    </svg>Document
                </router-link>
            </li>
            <li class="member">
                <router-link to="/members" >
                    <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.61797 24L0 23.2584C0.47191 22.1124 1.95505 21.5056 3.64045 20.764C5.25842 20.0225 7.28089 19.1461 7.28089 18.0674V16.5843C6.67415 16.1124 5.73033 15.0337 5.5955 13.4831C5.12359 13.0112 4.38202 12.1348 4.38202 11.0562C4.38202 10.382 4.65168 9.84269 4.85393 9.50561C4.7191 8.76404 4.44943 7.28089 4.44943 6.13483C4.44943 2.42696 7.01123 0 11.0562 0C12.2022 0 13.618 0.337066 14.3595 1.14606C16.1798 1.48313 17.6629 3.64044 17.6629 6.13483C17.6629 7.75281 17.3933 9.10112 17.191 9.70786C17.3933 10.0449 17.5955 10.5169 17.5955 11.0562C17.5955 12.3371 16.9888 13.1461 16.382 13.5506C16.2472 15.1011 15.3708 16.1124 14.8315 16.5843V18.0674C14.8315 19.0112 16.5168 19.618 18.0674 20.2247C19.8876 20.8989 21.7753 21.573 22.382 23.1236L20.6966 23.7303C20.427 22.9213 18.809 22.382 17.4607 21.8427C15.3708 21.1011 13.0112 20.2247 13.0112 18.0674V15.6404L13.4157 15.3708C13.4831 15.3708 14.6292 14.5618 14.6292 13.0112V12.4045L15.1685 12.2022C15.236 12.1348 15.7753 11.8652 15.7753 11.0562C15.7753 10.7865 15.573 10.5168 15.5056 10.4494L15.1685 10.0449L15.3034 9.57302C15.3034 9.57302 15.7753 8.08988 15.7753 6.06741C15.7753 4.38201 14.8315 2.83145 13.8202 2.83145H13.2809L13.0112 2.35955C12.809 2.02247 12 1.68539 10.9213 1.68539C7.88764 1.68539 6.06742 3.30336 6.06742 6.06741C6.06742 7.34831 6.53933 9.43819 6.53933 9.43819L6.67415 9.9101L6.33708 10.2472C6.33708 10.2472 6.06742 10.5843 6.06742 10.9213C6.06742 11.3932 6.67415 12 6.94381 12.2697L7.28089 12.5393V13.0112C7.28089 14.4944 8.5618 15.3034 8.5618 15.3034L8.96629 15.573V18C8.96629 20.2247 6.4719 21.3708 4.24718 22.3146C3.30336 22.8539 1.88764 23.5281 1.61797 24Z" fill="#F3F5F2"/>
                    </svg>Member
                </router-link>
            </li>
        </ul>
        <a class="logout">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 14L12.5 20C12.5 20.5523 12.0523 21 11.5 21H2C1.44771 21 0.999999 20.5523 0.999999 20L0.999999 2C0.999999 1.44772 1.44771 1 2 1L11.5 1C12.0523 1 12.5 1.44772 12.5 2V7.5" stroke="#F3F5F2" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M15.4746 17L21.4746 11L15.4746 5L14.6863 5.83213L19.8104 11L14.6863 16.1679L15.4746 17Z" fill="#F3F5F2"/>
                <path d="M20.6426 10.3867L6.64258 10.3867V11.613L20.6426 11.613V10.3867Z" fill="#F3F5F2"/>
            </svg>
            Logout
        </a>
    </aside>
</template>