<template>
  <div id="app">
    <router-view/>
  </div>
</template>


<style lang="scss"> 
@import '@/assets/public/sass/mixins.scss'; 
@import '@/assets/public/sass/variables.scss';
@import "@/assets/public/sass/style.scss"; 
@import "@/assets/public/sass/schedule.scss";  
</style>
